

/*GENERAL CSS*/



*{
box-sizing: border-box;  /*including padding and border in width and height*/
       
}
    
    /*Global variable */
    
:root{
    --blue:#0000FF;
    --darkblue:#00008B;
    --yellowgreen:#9ACD32;
    --gold:#FFD700;
    --white:#FFFFFF;
    --seagreen:#2E8B57;
    --pink:#FFC0CB;
    --black:#000000;
    --lightseagreen:#20B2AA;
    --green:#008000;
    --gainsboro:#DCDCDC;
    --red:#FF0000;

}    


html, body{
        margin:0; /*no margin*/
        padding:0; /* no padding*/
        font-family: 'Caramel', cursive; ;/*defining page font family*/
        width: 100%;  /* full width*/
        min-height:100vh; /* stretching body height to full viewport */
        
}
     
    
      
  a{
        text-decoration:none; /* removing  default hyperlinks text decoration */ 
        color:var(--black);  /* defining black as color for all the link elements */ 
  }
  
  /* defining heading styles*/
  
  h1,h2{
           font-weight:900;
           text-transform:capitalize;
           
  }
 
 
  /* defining paragraphs style*/
  p{
        font-size:20px;
        padding:10px;
} 


 
  /* making responsive images*/
  
img{
        max-width:100%;
        display:block;

 }
 img:hover{
          filter:brightness(65%);/* setting image brightness*/
  
 } 
 
 article{
        background-image: linear-gradient(to right,var(--lightseagreen),var(--white)) ;
        width:100%; /*article to occupy the  maximum width in their container*/

 }
 
 
 
 
 /*displaying the page as a grid container*/
  
 .grid-container{     
                   display:grid;
                   /*defining 4 columns and 6 rows*/   
                   grid-template-areas:
                  "header header header header" 
                  "nav nav nav nav"
                 "aside main main right"
                  "aside main main right"
                  "aside main main right"
                  "footer footer footer footer";
                   background-image: linear-gradient(to right,var(--lightseagreen), var(--white));
                   min-height: 100vh;/*grid container to occupy the maximum viewport height*/
                    
}


.page-container{
              
                  min-height: 100vh;/* takes the full viewport height*/
                 
                 }

 /* styling footer*/

footer{
        
        grid-area: footer;
        background:var(--seagreen);
        color:var(--white);
        text-align:center;
        padding:17px;
        font-weight:bold;
        font-size:35px;
        
       }

 /* defining social media elements as flex items*/
.social-media{
            display:flex;
            gap:50px;/*defining space between flex items*/
            align-items: center;/*center the alignements for the items of the flex container*/
       }

.me{
        margin-left:auto; /* pushing the element on the right part of its container*/
        font-size:34px;
        font-weight: 900;
        text-transform: uppercase;
       }
 
 
      
   
.left_header a {
            text-decoration:none;
            color:var(--white);
            list-style: none;
           
               
}
 
 .wrapper_right{
               display:flex;/*creating flex container*/
 }
 .top_right img{
                margin:7px;
                border-radius:100%;
                max-width:80%; /* image to occupy a maximum of 80% space in the container*/
                
 }
 
 
 header{
        
        background-image: linear-gradient(to right, var(--blue) ,var(--white));
        background-size: cover;
        display:flex;/*creating a flex container*/
        flex-wrap: wrap; /* allowing flex items to wrap if there is no space available*/
        grid-area:header;
        width:100%;/* setting maximum width*/
                
  }
 
 .header_right{
            display:flex;
            align-items:center;
 }
 
.top_right li:nth-child(4){  /*styling the fourth element of the ordered list*/
        color: var(--red);
 }
 
.left_header{
               color:var(--white);
               background:var(--black);
               padding:12px;
               max-width:250px;
               text-align:center;
               text-transform:uppercase;
               font-weight: 900;
               margin-left:50px;
 }
 
 
 /* creating an animation*/
 .tip{
        animation-name: tip;
        animation-iteration-count: infinite; /*defining non-stop animation*/
        animation-duration: 2s;
        position: relative;/*positioning the element relatively*/
        font-size: 30px;
        
}
 
 /*defining animation distance from left*/
@keyframes tip{
                from{left:0px;}
                to{left:50px;}
 }
 
.logo{
        font-size:60px;
        text-align:center;
        text-transform:uppercase;
        color:var(--black);
        text-shadow:3px 4px 5px var(--black);
        letter-spacing: 12px;
        flex: 1; /*takes the available space*/
        
}
 
.order{
        color:var(--white);
        background:var(--lightseagreen);
        width:200px;
        padding:12px;
        text-align: center;
        font-weight:900;
        text-transform:uppercase;
        margin-right:10px;
}


.small-text{
           font-size:14px;
           color:var(--white);
           font-weight:900;
           background:var(--black);
           padding: 3px;
}
 
 
 /*defining  navigation bar*/
nav{
        
    background-image: linear-gradient(to right,var(--lightseagreen), var(--white));
    max-width:100%;
    position:sticky;/*defining sticky navigation bar*/
    top:0;
    grid-area: nav;/*indicating grid area*/
    padding: 20px;
    z-index:1;/*defining the order of the navigation bar items*/
    margin-bottom: 25px;
    
               
}
            
nav ul{
      display:flex;/*defining navigation bar as a flex container*/
      flex-wrap:wrap;/*wrapping flex items when no space ais available*/
      justify-content: space-around;/*creating space before, between and after flex items*/
      align-items: center;/*controlling flex items alignement*/
      max-width:90%;/*setting maximum width*/
      margin:0;
      padding:0;             
}
            
  /*styling button*/          
.btn{
     background-color:var(--seagreen);
     color:var(--white);
     padding:13px;
     font-weight: 900;
     margin-left:50px;
     text-transform: uppercase;
     border:none;
     font-size:23px;
}
            



/*removing  default list bullets*/       
nav li{
       list-style: none;
}
            


/*styling navigation bar hyperlinks*/
nav a{
     text-decoration:none;
     font-weight:900;
     text-transform:capitalize;
     padding:15px 14px;
     text-transform:uppercase;
     display: block;/*defining block elements to set width and height*/
     font-size: 12px;
     font-family: 'Caramel', cursive;
     font-size:19px;
     border-bottom:3px solid transparent;/*transparent border-bottom*/ 
}
            
nav a:hover:not(.btn){/*button not selected to be styled like the nav elements on hover*/ 
        border-bottom: 3px solid var(--yellowgreen);
        color:var(--red);
                     
        }
            
   /*defining dropdown menu*/   
.dropdmenu {
           display:inline-block;
           position:relative;
}

.dropmenu-items{
                position:absolute;
                display:none; /*elements not appearing on the page*/
                background-color:var(--white);
                
}
            
            
.dropmenu a{
           display:block;/*displaying items as blocks elements*/
        }
            
.dropmenu:hover .dropmenu-items{
                               display:block;
                               

}
    
    
.about{
        line-height: 22px;
        padding:10px;
}     
 
 
 
 /*END OF GENERAL CSS*/





/*INDEX CSS*/
 
aside{
     grid-area:aside;
     padding:5px;
     background-image: linear-gradient(to right,var(--lightseagreen), var(--white));
     max-width:90%;
     margin-left:25px;

 }
 
 .img_style{
           position:relative;
           max-width:550px;
 }
 
 
 
main{
        
         grid-area: main;
         max-width:100%;
         margin: 15px;
         background-image: linear-gradient(to right,#20B2AA, white);
         padding:12px;
 }

 .top_right{
        background-image: linear-gradient(to right,#20B2AA, white) ;
       margin-right:35px;
      
       
}

.right {
                  
        max-width:100%;          
                  
}

.top_right li{
          color:var(--black);
          font-weight:900;
          font-family: 'Caramel', cursive;
          font-size:19px;
          
}
 

.index_box{
          position:relative;
          
}
.left article{
               padding:10px;/*all the articles of the left section to have a 10px padding*/
}

.right  .index_box{
          padding:20px;
          margin-bottom: 100px;
}



.square{
        position:absolute;
        color:var(--white);
        bottom:-20px;/*setting negative padding*/
        text-transform:uppercase;
        width:80%;
        padding:22px;
        cursor:pointer;
        text-align:center;
        left:0;
        right:0;
        margin:0 auto;
        font-weight: 900;
        box-shadow: 2px 1px 4px var(--gainsboro);
        background-image: linear-gradient(to right,aqua, green);
        
       }
 
 
 footer{
        
        grid-area: footer;
        background:#20B2AA;
        color:#FFFFFF;
        text-align:center;
        padding:17px;
        font-weight:bold;
        font-size:35px;
        
       }

       .social-media{
            display:flex;
            gap:50px;
            align-items: center;
       }

       .me{
        margin-left:auto;
        font-size:small;
        font-weight: 900;
       }
       
 
 
 /*END OF INDEX CSS*/
 
 
 
 
 



/*MENU CSS*/

.txt{
        
        font-size:25px;
        font-weight:900;
        padding:10px;
        background-image:linear-gradient(to right, blue, white);
        flex:1;
        max-width: 100%;
        
}



.img_food{
           max-width:90%;/*setting maximum width to 90% of its container*/
           margin:auto;/*center content*/
}



.menu_container{
                  
                  display:grid;
                  grid-template-columns: 1fr 1fr;
                  row-gap: 10px;
                  max-width:90%;
                  margin:auto;/*center the menu container*/
                  
                  background-color: var(--pink);
                  padding:15px;
}



.img_food button{

                   border:none;/*removing default button border*/
                   background:var(--black);
                   padding:10px;
                   max-width:250px;
                   color:#FFFFFF;
                   display: block;/*put the button on the next line*/
                   margin: 50px;
                   font-size:15px;
                   font-weight:900;
                   animation-name:btn;
                   animation-iteration-count: infinite;
                   animation-duration:1s;
                   
}

@keyframes btn{

             from{background-color:var(--black);}
              to  {background-color: var(--red);}
}




.txt_column{
         display:flex;
         flex-direction: column;
}


.img_food img{
               display:block;
               width:100%;

}

.img_food p {
              color:var(--black);
              background: var(--white);
              text-align: center;
              font-size: 25px;
}


.txt{
        flex:1;/*takes the space and pushes the next div at the bottom of the container*/
        max-width:100%;
}


.price{
          background:#2E8B57;
          font-size:20px;
          text-align:center;
          padding:12px;
          color:var(--white);
}




/*END OF MENU CSS*/




































 /*GALLERY CSS*/

 .grid_menu{
            
            max-width:100%; /*defining the width of the grid container*/
            grid-template-columns: repeat(3,  1fr);/*defining number of columns*/
            display:grid;
            gap:10px;/*set the space between grid items*/
            height:auto;
           
}

 
 .grid_menu_wrapper h2{
                text-shadow:2px 3px 1px  var(--black);
                color: var(--white);
                background-color:var(--black);
                max-width:500px;/*defining maximum width*/
                margin:auto;
                padding:10px;
                text-align:center;
                margin-bottom:10px;
}
 
 
 
 
 .grid_menu_wrapper{
        background:gainsboro;
       
        width:100%;/*wrapping the grid container*/
        
        padding:15px;
}
 
 /*END OF GALLERY CSS*/
 
 
 
 
 
/*CONTACT CSS*/


       
.contact_section a{
                   text-decoration: underline;  /*specifying that it is a link*/
}

.contact_section a:hover{
                   color:var(--red);
}

.contact_section a:active{
        color:var(--yellowgreen);
}

.info_contact{
               background:var(--white);
               padding:10px;
}





/*defining label and input as flex items*/
form p{
        display:flex;
        padding:5px;
        align-items:center;
       
}
      
      form{
           margin:auto;
           width:700px;
           background-color:pink;
           padding:13px;
           font-family:verdana;
            
      }
       form input{
              width:400px;
              padding:8px;
              border:none;
      }
      
      form label{
            width:150px;
            text-transform:uppercase;
            font-weight:bold;
           
      }
      
form button{
             border:none;
             background-color:rgb(455, 122, 46);
             color:#fff;
             padding:10px;
             width:130px;
             text-transform:uppercase;
             font-weight:900;
             margin:auto;
             display:block;
        
}
       
      
.message-box{
           padding:50px;
           resize:vertical;
           overflow:hidden;
           border:1px solid gainsboro;
           
}
      
input{
     resize:vertical;
     overflow:hidden; 
      }

/* END OF CONTACT CSS*/






/*MEDIA QUERIES*/

/*defining 1 column and 7 rows for thi breakpoint*/

@media screen and (max-width:600px) {
        .grid-container{
                       grid-template-areas: 
                       "header"
                       "nav"
                       "main"
                       "main"
                       "aside"
                       "right_section"
                       "footer";
                       grid-template-columns: 1fr;
 }

}

/*sets one column for navigation elements for this breakpoint*/
@media screen and (max-width:600px){
                                  nav ul{
                                  display:flex;
                                  flex-direction:column;
                                 }
           

}

/*displaying header elements as column at this breakpoint*/

@media screen and (max-width:600px){
        header{
             display:flex;
             flex-direction: column;
             padding:10px;
             
}
        
         .logo{
              font-size: 40px;  /*resizing logo size */
 
         }

}



@media screen and (max-width:600px){

                                /*displaying flex items in column */
                         .img_food{
                             display:flex;
                             flex-direction:column;
                              width: 100%;
                              margin: 0;
                             
                            }

                      
}


@media screen and (max-width:600px){

        form{
                margin:0;
                padding:5px;
                width:100%;
        }

       form input{
               width:100%;
              
        }
        
        
        form p{
                display: flex;
                flex-direction:column; /*displaying form elements in column*/
        }
}

@media screen and (max-width:600px){
                    .menu_container{
                             display:flex;
                             flex-direction:column;
                             width:100%;
                    }
}



@media screen and (max-width:600px){
        .grid_menu{
                 display:flex;
                 flex-direction:column;
                 width:100%;
                 margin:0;
                 padding:0;
        }
}





@media screen and (max-width:600px){
        body{
                 margin:0;
                 width:auto;
                 padding:0;
                 
                 
        }

         .top_right_image{
                           margin-top:80px;
         }

}


@media screen and (max-width:780px){
        body{
                 margin:0;
                 
                 
                 
        }
            /*defining 1 column and 6 rows at this breakpoint */
        .grid-container{

                grid-template-areas:
                "header"
                "nav"
                 "main"
                 "aside"
                 "right_section"
                "footer";

        } 

          



}




/*END OF MEDIA QUERIES*/