

body{
	  margin:0;
	  padding:0;
	  font-family: verdana;
	  width:80%;
	   
	   background:gainsboro;
}



header{
	background:#FF1493;
	padding:8px;
	position:sticky;
	top:0;

}

h1{
	text-transform:uppercase;
	text-align:center;
	font-size:25px;
	color:#fff;
	
	font-weight:900;
}

h2{
	  text-decoration:underline;
	  text-transform:uppercase;
	  color:darkblue;
}


figcaption{
	      color:#fff;
	      background:#FF1493;
	      width:180px;
	      padding:8px;
	      font-weight:900;
	      text-align:center;
	      text-transform:capitalize;
}

figure{
	    display:flex;
	    gap:15px;
}




a{
	 font-weight:bold;
	 margin:20px;
	 font-size:23px;
}
ul{
	 line-height: 35px;
}

p{
	width:80%;  
	background:#fff;
	padding:12px;
	line-height:35px;
	font-weight:900;
	box-shadow: 5px 3px 6px black ;

}
.container{
	   
	   width:90%;
	   margin:auto;
}


